.logo {
  margin-left: 10px;
  margin-top: 6px;
  height: 40px;
}
.home-page .logo {
  height: 50px;
  margin-left: 20px;
  margin-top: 30px;
}
header:not(.home-page) {
  height: 56px;
}
.appbar {
  justify-content: space-between;
}
.home-page .appbar {
  background: unset;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}
.flex {
  overflow-x: scroll;
}
.flex-item {
  text-decoration: none;
}
.home {
  height: 60vh;
  background-image: url(./images/defaultBanner.webp);
  background-size: cover;
  padding-top: 80px;
  color: white;
}
.home h1 {
  margin-bottom: 10px;
}
.home h2 {
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  width: max-content;
  margin: 10px auto;
  padding: 10px;
}
.home .card {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 900px;
  margin: 40px auto;
  padding: 20px 30px 30px;
  text-align: start;
}
.home .tab {
  color: white;
  margin-bottom: 20px;
}
.home .tab-item {
  border-color: white;
}
.home form {
  display: flex;
}
.home select {
  flex: 1;
  padding: 10px;
  border: none;
  border-right: 1px solid gray;
}
.home input {
  flex: 5;
  padding: 10px;
  border: none;
}
.home button {
  flex: 1;
  border-radius: 4;
  margin: 8px 0;
}
.housing {
  margin: 50px auto;
  max-width: 1000px;
}
.housing h2,
.featured h2,
.news h2 {
  margin-bottom: 15px;
}
.housing > p,
.featured > div > p,
.news > div > p {
  margin-bottom: 30px;
}
.housing .flex,
.featured .flex,
.news .flex {
  padding-bottom: 10px;
}
.housing .flex-item {
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
}
.housing .flex-item img {
  height: 50px;
}
.housing .flex-item h3,
.news .flex-item h3 {
  margin: 10px 0;
}
.housing .flex-item p,
.news .flex-item p {
  font-size: 0.9em;
}
.featured,
.news {
  background-color: white;
}
.featured > div,
.news > div {
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px 0;
}
.featured .flex,
.news .flex {
  gap: 20px;
}
.featured .flex-item,
.news .flex-item {
  padding: 0;
}
.featured .flex-item > div {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 240px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.featured .flex-item > div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, transparent, black);
  position: absolute;
  top: 0;
  left: 0;
}
.featured .flex-item img {
  width: 100%;
  height: 100%;
}
.featured .flex-item h3 {
  position: absolute;
  margin: 10px 0;
  bottom: 30px;
  width: 100%;
}
.featured .flex-item p {
  position: absolute;
  font-size: 0.9em;
  bottom: 20px;
  width: 100%;
}
.news .flex-item img {
  border-radius: 5px;
}
.footer {
  background-color: rgb(25, 25, 25);
  margin: 0;
  padding: 50px 80px;
  color: white;
}
.footer .copy {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.footer p {
  margin-bottom: 20px;
}
.footer li {
  list-style: none;
  margin: 10px 0;
}
.footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.about.card {
  max-width: 1000px;
  margin: 10px auto;
  min-height: 70vh;
  padding: 50px;
}

.about.card h1 {
  margin-bottom: 30px;
}
.about.card h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.modal {
  padding: 20px;
}
.or {
  margin: 20px;
}

.register,
.login {
  max-width: 500px;
  margin: 20px auto;
  min-height: 60vh;
  padding: 50px 0;
}
.register h1,
.login h1 {
  margin-bottom: 20px;
}
.register form,
.login form {
  padding: 20px;
}

.list-property {
  max-width: 900px;
  margin: 20px auto;
  padding: 50px 0;
}
.list-property h1 {
  margin-bottom: 20px;
}
.list-property .tab {
  margin-bottom: 30px;
}
.list-property .card {
  padding: 40px;
}
.list-property label {
  display: inline-block;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 100px;
}
.list-property .flex {
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 30px;
}
.list-property p {
  margin-top: 10px;
  font-weight: bold;
}
.list-property .area {
  display: inline-block;
  margin-right: 10px;
}
.list-property .flex.submit {
  flex-direction: row-reverse;
  margin-top: 50px;
  margin-bottom: 0;
}
.list-property .flex.submit .btn {
  width: 200px;
}
.news-page {
  max-width: 1000px;
  margin: 20px auto;
  padding: 30px 0;
}
.news-page .list-item {
  margin-bottom: 16px;
}
.news-page h1 {
  margin-bottom: 10px;
}
.news-page .b1 {
  margin-bottom: 40px;
}
.news-page img {
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}
.news-page h3 {
  margin: 20px 0;
}
.rent-payment {
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px 0;
}
.rent-payment h1 {
  margin-bottom: 30px;
}
.rent-payment > .flex {
  gap: 30px;
  width: 100%;
  overflow: hidden;
  padding: 30px;
}
.rent-payment .flex-item {
  padding: 0;
}
.rent-payment .flex-item > div {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.rent-payment .flex-item.active {
  transform: scale(1.1);
}
.rent-payment .flex-item > div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, transparent, black);
  position: absolute;
  top: 0;
  left: 0;
}
.rent-payment .flex-item img {
  width: 100%;
  height: 100%;
}
.rent-payment .flex-item h3 {
  position: absolute;
  margin: 10px 0;
  bottom: 10px;
  width: 100%;
}
.card.payment {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}
.card.payment .flex {
  overflow: hidden;
}
.card.payment p {
  margin-top: 30px;
  font-weight: bold;
}

.packers {
  max-width: 1000px;
  margin: 50px auto;
}
.packers .list-item {
  padding: 20px;
}
.packers h1 {
  margin-bottom: 30px;
}
.packers img {
  max-width: 300px;
  margin-right: 30px;
}
.packers .btn {
  margin-right: 20px;
  margin-top: 30px;
}
.packers .ratings {
  margin-top: 16px;
}
.packers .ratings span:first-child {
  font-weight: bold;
  margin-right: 10px;
}
.packers .ratings span:last-child {
  margin-left: 5px;
}
.packers .contact-d {
  font-weight: bold;
  margin: 10px 0;
}
.packers .contact a,
.packers .contact span {
  display: inline-block;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 10px;
}
.packers .contact i {
  margin-right: 10px;
}
.packers .contact a:not(:first-child),
.packers .contact i:not(:first-child) {
  margin-left: 20px;
}
.tenant-verify {
  max-width: 1000px;
  margin: 50px auto;
}
.tenant-verify h1 {
  margin-bottom: 30px;
}
.tenant-verify h3 {
  margin: 20px 0;
  margin-top: 40px;
}
.tenant-verify .choose {
  max-width: 660px;
  margin: 10px auto;
  gap: 40px;
  overflow: hidden;
  padding: 20px;
}
.tenant-verify .choose .flex-item {
  padding: 20px;
}
.tenant-verify .choose .flex-item.active {
  transform: scale(1.1);
}
.tenant-verify .choose .s1 {
  margin-top: 6px;
  margin-bottom: 20px;
}
.tenant-verify .choose i {
  margin-right: 10px;
}
.tenant-verify .choose .btn {
  margin-top: 20px;
}
.tenant-verify form.card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}
.tenant-verify form.card p {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}
.tenant-verify form.card .flex {
  overflow: hidden;
}

.search-box {
  overflow: hidden;
  gap: 1px;
  min-width: 600px;
}
.search-box select,
.search-box input,
.search-box button {
  margin: 8px 0;
  border: none;
  border-radius: 0;
}
.search-box select {
  flex: 2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-box input {
  flex: 7;
}
.search-box button {
  margin-left: -0.5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 45px;
}
.results {
  max-width: 1000px;
  margin: 30px auto;
}
.results .list-item {
  margin-bottom: 20px;
  padding: 20px;
}
.results .list-item .property-img {
  margin-right: 20px;
}
.results .list-item .property-img img {
  width: 360px;
  height: 240px;
}
.results .price,
.results .user {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.results .type {
  margin-bottom: 10px;
  margin-left: 10px;
}
.results .address {
  margin-bottom: 20px;
  margin-left: 10px;
}
.results .details {
  margin-left: 10px;
}
.results .details a {
  margin-left: 10px;
}
.filters {
  max-width: 1200px;
  margin: 20px auto;
}
.filters p {
  font-weight: bold;
}
.filter {
  overflow: hidden;
}
.filter .btn {
  margin: 8px 0;
}

.single-news,
.terms {
  max-width: 1000px;
  margin: 50px auto;
}
.single-news h1,
.terms h1 {
  margin-bottom: 30px;
}
.single-news .card {
  padding: 20px;
  text-align: center;
}
.terms .card {
  padding: 20px;
}
.single-news img {
  min-width: 500px;
  margin-bottom: 40px;
}
.single-news p,
.terms p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}
.terms ul {
  margin: 20px;
}
.terms li {
  margin-left: 20px;
  line-height: 1.8;
}

.upload-file input {
  display: none;
}
.upload-file {
  border-radius: 4px;
  border: 1px black solid;
  width: 120px;
  height: 120px;
  padding-top: 50px;
  padding-left: 10px;
}
.uploaded-file {
  border-radius: 4px;
  border: 1px black solid;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.uploaded-video {
  border-radius: 4px;
  border: 1px black solid;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.uploaded-file img {
  height: 100%;
  width: 100%;
}
.uploaded-video video {
  height: 100%;
}
.uploaded-file button,
.uploaded-video button {
  position: absolute;
  top: 4px;
  right: 4px;
}

.btn-o.profile {
  padding: 5px;
  border-width: 2px;
}
